In [166]:
import pandas as pd
df = pd.read_csv('/Users/junwlee/Documents/KoreaUniv/24-Spring/Statistics&ML/practice/Chapter2/HousingMarket/MELBOURNE_HOUSE_PRICES_LESS.csv', engine='python')
print(df.head(10))
print(df.isnull().sum() / df.shape[0] * 100)

         Suburb            Address  Rooms Type      Price Method  \
0    Abbotsford      49 Lithgow St      3    h  1490000.0      S
1    Abbotsford      59A Turner St      3    h  1220000.0      S
2    Abbotsford      119B Yarra St      3    h  1420000.0      S
3    Aberfeldie         68 Vida St      3    h  1515000.0      S
4  Airport West   92 Clydesdale Rd      2    h   670000.0      S
5  Airport West       4/32 Earl St      2    t   530000.0      S
6  Airport West     3/74 Hawker St      2    u   540000.0      S
7  Airport West  1/26 Highridge Cr      3    h   715000.0     SP
8     Albanvale      1 Jackson Cct      6    h        NaN     PI
9   Albert Park        18 Mills St      3    h  1925000.0      S

         SellerG       Date  Postcode             Regionname  Propertycount  \
0         Jellis  1/04/2017      3067  Northern Metropolitan           4019
1       Marshall  1/04/2017      3067  Northern Metropolitan           4019
2         Nelson  1/04/2017      3067  Northern Metropolitan           4019
3          Barry  1/04/2017      3040   Western Metropolitan           1543
4         Nelson  1/04/2017      3042   Western Metropolitan           3464
5         Jellis  1/04/2017      3042   Western Metropolitan           3464
6          Barry  1/04/2017      3042   Western Metropolitan           3464
7         Nelson  1/04/2017      3042   Western Metropolitan           3464
8  hockingstuart  1/04/2017      3021   Western Metropolitan           1899
9         Cayzer  1/04/2017      3206  Southern Metropolitan           3280

   Distance                 CouncilArea
0       3.0          Yarra City Council
1       3.0          Yarra City Council
2       3.0          Yarra City Council
3       7.5  Moonee Valley City Council
4      10.4  Moonee Valley City Council
5      10.4  Moonee Valley City Council
6      10.4  Moonee Valley City Council
7      10.4  Moonee Valley City Council
8      14.0       Brimbank City Council
9       3.0   Port Phillip City Council
Suburb            0.000000
Address           0.000000
Rooms             0.000000
Type              0.000000
Price            23.150278
Method            0.000000
SellerG           0.000000
Date              0.000000
Postcode          0.000000
Regionname        0.000000
Propertycount     0.000000
Distance          0.000000
CouncilArea       0.000000
dtype: float64

In [167]:
# 전체 데이터에서 'Price' 열의 NaN 값을 제거
df_selected = df.dropna(subset=['Price'])
print(df_selected.isnull().sum() / df_selected.shape[0] * 100)

# 원하는 열만 선택
selected_columns = ['Rooms', 'Type', 'Price', 'Method', 'Postcode', 'Regionname', 'Propertycount', 'Distance', 'CouncilArea']
df_selected = df_selected[selected_columns]

# 선택된 데이터 확인
df_selected.head()

Suburb           0.0
Address          0.0
Rooms            0.0
Type             0.0
Price            0.0
Method           0.0
SellerG          0.0
Date             0.0
Postcode         0.0
Regionname       0.0
Propertycount    0.0
Distance         0.0
CouncilArea      0.0
dtype: float64

,Rooms,Type,Price,Method,Postcode,Regionname,Propertycount,Distance,CouncilArea
0,3,h,1490000.0,S,3067,Northern Metropolitan,4019,3.0,Yarra City Council
1,3,h,1220000.0,S,3067,Northern Metropolitan,4019,3.0,Yarra City Council
2,3,h,1420000.0,S,3067,Northern Metropolitan,4019,3.0,Yarra City Council
3,3,h,1515000.0,S,3040,Western Metropolitan,1543,7.5,Moonee Valley City Council
4,2,h,670000.0,S,3042,Western Metropolitan,3464,10.4,Moonee Valley City Council

In [168]:
# 범주형 데이터만 선택하기
cat_df = df_selected.select_dtypes(include=['object', 'category'])

# 수치형 데이터만 선택하기
num_df = df_selected.select_dtypes(include=['int64', 'float64'])

In [169]:
from sklearn.preprocessing import LabelEncoder, OneHotEncoder

def dummy(data, col):
    lab = LabelEncoder()
    aa = lab.fit_transform(data[col]).reshape(-1, 1)
    one = OneHotEncoder(sparse_output=False)
    column_names = [col + '_' + str(i) for i in lab.classes_]
    df_dummy = pd.DataFrame(one.fit_transform(aa), columns=column_names)
    df_dummy.index = data.index  # 원본 데이터의 인덱스를 더미 데이터프레임에 적용
    return df_dummy

In [170]:
# 모든 범주형 데이터에 대해 더미 변수 생성 후 합치기
temp_dfs = [num_df]  # 수치형 데이터 프레임을 먼저 추가
for column in cat_df:
    temp_dfs.append(dummy(df_selected, column))  # 각 범주형 변수에 대해 생성된 더미 변수 데이터프레임을 추가

new_df = pd.concat(temp_dfs, axis=1)  # 모든 데이터프레임을 합침
new_df.head()

,Rooms,Price,Postcode,Propertycount,Distance,Type_h,Type_t,Type_u,Method_PI,Method_S,...,CouncilArea_Moreland City Council,CouncilArea_Murrindindi Shire Council,CouncilArea_Nillumbik Shire Council,CouncilArea_Port Phillip City Council,CouncilArea_Stonnington City Council,CouncilArea_Whitehorse City Council,CouncilArea_Whittlesea City Council,CouncilArea_Wyndham City Council,CouncilArea_Yarra City Council,CouncilArea_Yarra Ranges Shire Council
0,3,1490000.0,3067,4019,3.0,1.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,3,1220000.0,3067,4019,3.0,1.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,3,1420000.0,3067,4019,3.0,1.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,3,1515000.0,3040,1543,7.5,1.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,2,670000.0,3042,3464,10.4,1.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

## 데이터프레임을 새로 합칠 때 null 값이 발생하는 이유

1. 인덱스 불일치: 
    - pd.concat() 함수를 사용하여 여러 데이터프레임을 합칠 때, 각 데이터프레임의 인덱스가 일치하지 않으면 null 값이 발생할 수 있다. 
    - 예를 들어, 두 데이터프레임 중 하나가 특정 행을 가지고 있지 않거나 인덱스 순서가 다른 경우, 해당 위치에서 데이터가 없는 것으로 간주되어 null 값으로 채워진다. 
    - 여기서 temp_dfs 리스트에 추가된 데이터프레임들(num_df와 dummy() 함수를 통해 생성된 더미 변수 데이터프레임들)이 원본 데이터프레임과 동일한 인덱스를 가지고 있지 않다면, 이는 null 값 발생의 주요 원인일 수 있다.

2. 데이터프레임 병합 시 인덱스 재설정 누락: 
    - dummy() 함수에서 반환된 더미 변수 데이터프레임은 원본 데이터프레임의 인덱스와 일치하지 않을 수 있다
    - 이 함수 내에서 OneHotEncoder를 사용할 때 반환되는 배열은 기본적으로 0부터 시작하는 새로운 인덱스를 가지게 된다. 이 배열을 데이터프레임으로 변환할 때, 원본 데이터의 인덱스를 적용하지 않으면, pd.concat()을 사용하여 이를 기존 데이터프레임과 합칠 때 인덱스 불일치로 인해 null 값이 많이 발생할 수 있다.

In [171]:
from sklearn.model_selection import train_test_split

target = ['Price']
features = new_df.drop(columns = target).columns

train, test = train_test_split(new_df, test_size = 0.3, random_state = 2)
print(new_df.shape)

X_train = train[features]
y_train = train[target].squeeze()  # 차원 조정
X_test = test[features]
y_test = test[target]

print(X_train.shape, y_train.shape, X_test.shape, y_test.shape)

(48433, 55)
(33903, 54) (33903,) (14530, 54) (14530, 1)

# DataConversionWarning
- 모델에 학습 데이터를 전달할 때 타겟 변수 y가 열 벡터(2차원 배열) 형태로 되어 있으나, 모델이 예상하는 형태는 1차원 배열이라는 것을 알림.

In [172]:
from sklearn.impute import SimpleImputer
from sklearn.feature_selection import f_regression, SelectKBest

# Null값의 처리를 위해 SimpleImputer 처리를 먼저 한다.
sim = SimpleImputer()
X_train_sim = sim.fit_transform(X_train, y_train)
X_test_sim = sim.transform(X_test)

selector = SelectKBest(score_func=f_regression, k=20)
X_train_selected = selector.fit_transform(X_train_sim, y_train)
X_test_selected = selector.transform(X_test_sim)

print(y_train.shape, y_test.shape)
print(X_train_selected.shape, X_test_selected.shape)

(33903,) (14530, 1)
(33903, 20) (14530, 20)